<div class="initial-page">

  <section class="info-section">
      <app-header [addBackground]="true"></app-header>

      <div class="info-contain">
        <div class="banner-container">
          <div class="filter-bg"></div>
          <img src="../../../../../assets/images/Desktop/work-with-us-banner.svg" alt="" class="banner">
        </div>

        <div class="info-container">

          <h1 class="title">¡Optimiza tu consulta y llega a más pacientes!</h1>

          <br/>

          <p class="text">
            Te invitamos a ser parte de nuestra plataforma, donde conectamos a médicos con pacientes de forma rápida, sencilla y efectiva. Con nuestro sistema, podrás:<br/>
            <br/>
            ✅ Gestionar tu agenda en tiempo real.<br/>
            ✅ Recibir citas de manera organizada y sin intermediarios.<br/>
            ✅ Optimizar tu tiempo y mejorar la experiencia de tus pacientes.<br/>
            <br/>
            Tu vocación merece una plataforma que te respalde y 
            potencie tu impacto profesional.
          </p>

          <div class="auth-section">
            <button class="login-button" (click)="navigateToForm()">Quiero ser parte</button>
          </div>   
        </div>
    </div>

  </section>

  <app-footer></app-footer>
</div>
