<ion-content scroll-y="false">
  <div class="dash-header">
    <p>Hola, {{ user?.first_name }}</p>
    <p>Buenos días</p>
  </div>

  <div class="card">
    <div class="profile-container">
      <div class="circle left">
        <img [src]="profileImage" [alt]="user?.first_name" />
      </div>
      <div class="content">
        <div class="user-name">
          {{ user.first_name.split(" ")[0] }} {{ user.last_name.split(" ")[0] }}
        </div>
        <div class="plan-content">
          @if (user?.plan?.name === 'Individual') {
          <ion-icon name="star-outline"></ion-icon>
          }@else if (user?.plan?.name === 'Familiar') {
          <fa-icon
            style="color: var(--ion-color-secondary)"
            [icon]="faCrown"
          ></fa-icon>
          } @if(user.plan){
          <div class="plan-name">
            {{ user?.plan?.name }}
          </div>
          }@else {
          <div class="plan-name" style="color: var(--ion-color-dark)">
            No tienes un plan
          </div>
          }
        </div>
      </div>
    </div>

    <div class="nav-container">
      <div
        class="nav-item"
        [class.active]="activeTab === 'info'"
        (click)="setActiveTab('info')"
      >
        Salud Info.
      </div>
      <div
        class="nav-item"
        [class.active]="activeTab === 'beneficios'"
        (click)="setActiveTab('beneficios')"
      >
        Beneficios
      </div>
      <div
        class="nav-item"
        [class.active]="activeTab === 'planes'"
        (click)="setActiveTab('planes')"
      >
        Planes
      </div>
    </div>

    <div class="options-container">
      @if(activeTab === 'info'){
      <app-basic-data [user]="user"></app-basic-data>
      }@else if (activeTab === 'beneficios') {
      <app-primary-card maxHeight="240px">
        <div class="plan-desc">
          @if(user.plan){
          <p style="padding-left: 20px">Tu plan actual</p>
          }@else {
          <p>Actualmente no cuentas con un plan.</p>
          } @if(user.plan){
          <div class="plan-container">
            <p>{{ user?.plan?.name }}</p>
            <p>{{ user?.plan?.description }}</p>
          </div>
          }
        </div>
      </app-primary-card>

      }@else {
      <app-plan-selection
        (planSelected)="onPlanSelected($event)"
      ></app-plan-selection>
      }
    </div>

    <!-- Slider -->

    <div class="buttons-container">
      <div
        class="selected-indicator"
        [ngStyle]="{ 'border-radius': selectedIndicatorBorder, 'left': selectedButtonText === 'Beneficiarios' ? '0' : '50%' }"
      >
        <p>{{ selectedButtonText }}</p>
      </div>
      <div class="buttons">
        <div
          class="button"
          id="firstOption"
          [ngClass]="{'active': selectedButtonText === 'Beneficiarios'}"
          (click)="selectButton('Beneficiarios')"
        >
          <span>Beneficiarios</span>
        </div>
        <div 
          class="button" 
          id="secondOption" 
          [ngClass]="{'active': selectedButtonText === 'Agenda'}"
          (click)="selectButton('Agenda')"
        >
          <span>Agenda</span>
        </div>
      </div>
    </div>
    <!-- Beneficiary Cards -->

    @if(user.plan){
    <app-beneficiary-card
      [beneficiaries]="beneficiaries"
    ></app-beneficiary-card>
    }
  </div>
</ion-content>

<app-tab-bar
  [isVisible]="true"
  [buttons]="[
    { icon: 'arrow-back-outline', route: '/', visible: true },
    { icon: 'menu-outline', route: '/', visible: true },
    { icon: 'exit-outline', route: '/', visible: true }
  ]"
  [background]="'var(--ion-color-dark)'"
></app-tab-bar>
