<ion-content scroll-y="false">
  <app-greeting [userName]="user?.first_name"></app-greeting>

  <div class="card">
    <div class="profile-container">
      <div class="circle left">
        <img [src]="profileImage" [alt]="user?.first_name" />
      </div>
      <div class="content">
        <div class="user-name">
          {{ user.first_name.split(" ")[0] }} {{ user.last_name.split(" ")[0] }}
        </div>
        <div class="plan-content">
          @if (user?.plan?.name === 'Individual') {
          <ion-icon name="star-outline"></ion-icon>
          }@else if (user?.plan?.name === 'Familiar') {
          <fa-icon
            style="color: var(--ion-color-secondary)"
            [icon]="faCrown"
          ></fa-icon>
          } @if(user.plan){
          <div class="plan-name">
            {{ user?.plan?.name }}
          </div>
          }@else {
          <div class="plan-name" style="color: var(--ion-color-dark)">
            No tienes un plan
          </div>
          }
        </div>
      </div>
    </div>

    <div class="nav-container">
      <div
        class="nav-item"
        [class.active]="activeTab === 'info'"
        (click)="setActiveTab('info')"
      >
        Salud Info.
      </div>
      <div
        class="nav-item"
        [class.active]="activeTab === 'beneficios'"
        (click)="setActiveTab('beneficios')"
      >
        Beneficios
      </div>
      <div
        class="nav-item"
        [class.active]="activeTab === 'planes'"
        (click)="setActiveTab('planes')"
      >
        Planes
      </div>
    </div>

    <div class="options-container">
      @if(activeTab === 'info'){
      <app-basic-data [user]="user"></app-basic-data>
      }@else if (activeTab === 'beneficios') {
      <app-primary-card maxHeight="240px">
        <div class="plan-info-container">
          @if(user.plan) {
          <div class="plan-info-header">
            <h3>Tu plan actual</h3>
            <div class="plan-icon">
              @if(user.plan.name === 'Individual' || user.plan.name ===
              'Individual') {
              <ion-icon name="person"></ion-icon>
              } @else if(user.plan.name === 'Familiar' || user.plan.name ===
              'Familiar') {
              <img
                src="/assets/icon/crown.svg"
                alt="premium"
                class="crown-icon"
              />
              }
            </div>
          </div>

          <div class="plan-card">
            <div class="plan-title">
              <h2>{{ user?.plan?.name }}</h2>
              <div class="plan-duration">
                <ion-icon name="calendar-outline"></ion-icon>
                <span>{{ user?.plan?.duration_days }} días</span>
              </div>
            </div>

            <div class="plan-details">
              <div class="plan-price">
                <span class="currency">$</span>
                <span class="amount">{{
                  +user?.plan?.price | currency : "" : "" : "1.0-0"
                }}</span>
                <span class="period">/ año</span>
              </div>

              <div class="beneficiary-info">
                <ion-icon name="people-outline"></ion-icon>
                @if(user?.plan?.max_beneficiaries > 0) {
                <span
                  >{{ user?.plan?.max_beneficiaries }} beneficiarios + uso
                  personal</span
                >
                } @else {
                <span>Uso personal</span>
                }
              </div>

              <p class="plan-description">{{ user?.plan?.description }}</p>
            </div>
          </div>
          } @else {
          <div class="no-plan-container">
            <div class="no-plan-icon">
              <ion-icon name="alert-circle-outline"></ion-icon>
            </div>
            <h3>Actualmente no cuentas con un plan</h3>
            <p>Selecciona un plan para disfrutar de todos los beneficios</p>
            <ion-button expand="block" (click)="goToPlans()">
              Ver planes disponibles
            </ion-button>
          </div>
          }
        </div>
      </app-primary-card>

      }@else {
      <app-plan-selection
        (planSelected)="onPlanSelected($event)"
      ></app-plan-selection>
      }
    </div>

    <!-- Slider -->

    <div class="buttons-container">
      <div class="buttons">
        <div
          class="button"
          id="firstOption"
          (click)="selectButton('Beneficiarios')"
        >
          <span>Beneficiarios</span>
        </div>
        <div class="button" id="secondOption" (click)="selectButton('Agenda')">
          <span>Agenda</span>
        </div>
        <div
          class="button"
          id="thirdOption"
          (click)="selectButton('Mi Salud')"
        >
          <span>Mi Salud</span>
        </div>
      </div>
    </div>
    <!-- Beneficiary Cards -->

    <app-beneficiary-card
      [beneficiaries]="beneficiaries"
      [plan]="user.plan"
    ></app-beneficiary-card>
  </div>
</ion-content>
<!-- <app-user-chat-widget></app-user-chat-widget> -->

<app-tab-bar
  [isVisible]="true"
  [buttons]="[
    { icon: 'arrow-back-outline', route: '/', visible: true },
    { icon: 'menu-outline', route: '/', visible: true },
    { icon: 'exit-outline', route: '/', visible: true }
  ]"
  [background]="'var(--ion-color-dark)'"
></app-tab-bar>
