ion-content {
  --background: var(--ion-color-light);
}

.card {
  background: url("../../../../../assets/background/background.svg") no-repeat
    top center / cover;
  border-radius: 20px 20px 0% 0%;
  position: absolute;
  width: 100%;
  color: var(--ion-color-dark);
  padding: 40px 5% 0 5%;
  max-height: 75%;
  overflow-y: visible;
  bottom: 0;
  min-height: 75%;
}

.profile-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -25px;
  width: 100%;
  padding: 0 0 0 20px;
}

.circle {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  min-width: 143px;
  min-height: 143px;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1.5rem;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #236596;
}


.options-container {
  min-height: 240px;
}

ion-icon {
  color: var(--ion-color-secondary);
}

.dash-header {
  color: var(--ion-color-dark);
  padding: 30px;
}

.dash-header p:nth-child(1) {
  font-size: 1.25rem;
  font-weight: bold;
}

.dash-header p:nth-child(2) {
  font-size: 1.875rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaciado entre elementos */
  padding: 10px 0;
}

.nav-item {
  font-size: 16px;
  font-weight: bold;
  color: var(--ion-color-secondary);
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--ion-color-light);
}

// Button Persona - Mascota
.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
  // position: absolute;
  left: 0;
  // padding: 0 20px;
}

.buttons {
  display: flex;
  width: 100%;
  position: relative;
}

.button {
  padding: 20px;
  color: var(--ion-color-dark);
  text-align: center;
  background-color: var(--ion-color-light);
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;
  position: relative;
  z-index: 2;
}

.button:first-child {
  border-radius: 20px 0 0 20px;
}

.button:last-child {
  border-radius: 0 20px 20px 0;
}

.selected-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background: var(--ion-color-secondary);
  transition: left 0.5s, right 0.5s, width 0.5s, border-radius 1s;
  z-index: 3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--ion-color-light);
  font-weight: bold;
}

.selected-indicator:before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: inherit;
  border: 2px solid transparent;
}

.button:focus {
  outline: none;
}

.button.active {
  color: var(--ion-color-light);
  z-index: 2;
}

.button.active span {
  position: relative;
  z-index: 3;
}

.plan-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
}

.plan-desc {
  font-size: 1.3rem;
  font-weight: bold;
}

.plan-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  gap: 10px;
}

.plan-box div {
  color: var(--ion-color-light);
  font-weight: bold;
  padding: 20px;
  border-radius: 20px;
  background: var(--ion-color-card);
  width: 100%;
  font-size: 1.3rem;
}
