@if(!success){
<div class="wizard-container">
  <!-- Paso / Stepper Superior -->
  <div class="stepper">
    <div class="steps">
      <div class="step" [class.active]="currentStep >= 1">
        <div class="circle" [class.completed]="currentStep > 1"></div>
        <div class="step-name">DATOS</div>
      </div>
      <div class="step" [class.active]="currentStep >= 2">
        <div class="circle" [class.completed]="currentStep > 2"></div>
        <div class="step-name">ESPECIALIDAD</div>
      </div>
      <div class="step" [class.active]="currentStep >= 3">
        <div class="circle" [class.completed]="currentStep > 3"></div>
        <div class="step-name">PROFESIONAL</div>
      </div>
      <div class="step" [class.active]="currentStep >= 4">
        <div class="circle" [class.completed]="currentStep > 4"></div>
        <div class="step-name">FECHA Y HORA</div>
      </div>
    </div>
    <div class="step-line"></div>
  </div>

  <div class="wizard-content">
    @if(currentStep === 1){
    <div class="step-content">
      <h2>Datos del paciente</h2>
      <div class="form-group">
        <label>Identificación</label>
        <div class="row">
          <select [(ngModel)]="patientData.identificationType">
            <option value="CC">Cédula</option>
            <option value="TI">Tarjeta de Identidad</option>
            <option value="PASSPORT">Pasaporte</option>
            <option value="OTHER">Otro</option>
          </select>
          <input
            type="text"
            placeholder="#"
            [(ngModel)]="patientData.identification"
          />
        </div>
      </div>
      <div class="form-group">
        <label>Nombres y apellidos</label>
        <input type="text" [(ngModel)]="patientData.fullName" />
      </div>
      <div class="form-group">
        <label>Teléfono</label>
        <input type="text" [(ngModel)]="patientData.phone" />
      </div>
      <div class="form-group">
        <label>E-Mail</label>
        <input type="text" [(ngModel)]="patientData.email" />
      </div>
      <div class="custom-checkbox-container">
        <input
          type="checkbox"
          id="firstTimeCheck"
          [(ngModel)]="patientData.firstTime"
        />
        <label for="firstTimeCheck"> Cita primera vez </label>
      </div>

      <div class="custom-checkbox-container">
        <input
          type="checkbox"
          id="controlCheck"
          [(ngModel)]="patientData.control"
        />
        <label for="controlCheck"> Control </label>
      </div>
    </div>
    }@else if(currentStep === 2){
    <!-- PASO 2: ESPECIALIDAD -->
    <div class="step-content">
      <h2>Selecciona la especialidad médica que requieres:</h2>
      <div class="carousel-container">
        <button class="arrow left-arrow" (click)="scrollLeft()">&#10094;</button>
        <div class="carousel-content" #carouselContent>
          <app-speciality-card
          *ngFor="let spec of specialties; let i = index"
          [speciality]="spec.name"
          [class.selected]="i === selectedSpecialtyIndex"
          (click)="selectSpecialty(i)"
          ></app-speciality-card>
        </div>
        
        <button class="arrow right-arrow" (click)="scrollRight()">&#10095;</button>
      </div>
      
    </div>
    }@else if(currentStep === 3){
    <!-- PASO 3: PROFESIONAL -->
    <div class="step-content">
      <h2>Médico</h2>
      <p>Selecciona el profesional con el que deseas agendar cita</p>
      <div class="carousel-container">
        <button class="arrow left-arrow" (click)="scrollLeft()">&#10094;</button>
        <div class="carousel-content" #carouselContent>
          <app-health-professional-card
            *ngFor="let prof of professionals; let i = index"
            [buttonVisible]="false"
            [agendaColor]="'var(--ion-color-secondary)'"
            [class.selected]="i === selectedProfessionalIndex"
            (click)="selectProfessional(i)"
          ></app-health-professional-card>
        </div>
        <button class="arrow right-arrow" (click)="scrollRight()">&#10095;</button>
      </div>
      
    </div>
    }@else if(currentStep === 4){
    <!-- PASO 4: FECHA Y HORA -->
    <div class="step-content">
      <h2>Horario de atención</h2>
      <p>Selecciona el día y la hora para la consulta</p>
      <div class="schedule-container">
        <div
          class="day-card"
          *ngFor="let schedule of schedules; let dIndex = index"
          [class.selected]="dIndex === selectedDayIndex"
          (click)="selectDay(dIndex)"
        >
          <h4>{{ schedule.day }}</h4>
          <ul>
            <li
              *ngFor="let hour of schedule.hours"
              [class.active]="
                dIndex === selectedDayIndex && hour === selectedHour
              "
              (click)="selectHour(hour, dIndex); $event.stopPropagation()"
            >
              {{ hour }}
            </li>
          </ul>
        </div>
      </div>
    </div>
    }
  </div>

  <!-- Botones de Navegación -->
  <div class="buttons-container">
    <button
      class="prev-button"
      (click)="prevStep()"
      [disabled]="currentStep === 1"
    >
      Anterior
    </button>
    <button class="next-button" (click)="nextStep()">
      {{ currentStep < 4 ? "Siguiente" : "Confirmar" }}
    </button>
  </div>
</div>
}@else {
<app-appointment-assigned [isPending]="true"> </app-appointment-assigned>

<app-appointment-assigned
  [isPending]="false"
  [patientName]="'Antonia Malagón'"
  [professionalName]="'Dra. María López'"
  [specialty]="'Cardióloga'"
  [date]="'21 de Febrero'"
  [time]="'13:00'"
  [dayOfWeek]="'domingo'"
>
</app-appointment-assigned>

}
