.wizard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.stepper {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 20px;

  .steps {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--ion-color-secondary);
      transition: background-color 0.3s;
    }

    &.active .circle {
      background-color: #28a745;
    }

    &.active.completed .circle {
      background-color: #28a745;
    }

    .step-name {
      margin-top: 8px;
      font-size: 1.1rem;
      color: var(--ion-color-dark);
      font-weight: bold;
      text-align: center;
    }
  }

  .step-line {
    position: absolute;
    top: 9px;
    left: calc(100% / 8); /* 12.5% del ancho */
    right: calc(100% / 8); /* 12.5% del ancho */
    height: 3px;
    background-color: var(--ion-color-secondary);
    z-index: 1;
  }
}

/* Contenido de los pasos */
.wizard-content {
  padding: 20px;
  .step-content {
    margin-bottom: 2rem;

    h2 {
      margin-bottom: 1rem;
    }

    .form-group {
      margin-bottom: 1rem;
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .row {
        display: flex;
        gap: 0.5rem;
      }

      select,
      input[type="text"] {
        border: none;
        border-radius: 20px;
        padding: 12px;
        font-size: 1rem;
        background: #fff;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
      select,
      input[type="text"]::placeholder {
        color: #7f8eb2;
        font-weight: bold;
      }

      select {
        width: 25%;
      }

      input:disabled,
      input[disabled] {
        background-color: #f0f0f0;
      }
    }

    .carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 30px 0;

      .arrow {
        background: none;
        border: none;
        color: var(--ion-color-primary);
        font-size: 2rem;
        cursor: pointer;
      }

      .specialty-card,
      .professional-card {
        position: relative;
        width: 180px;
        height: 200px;
        background: #f5f5f5;
        border-radius: 8px;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
        transition: transform 0.2s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.selected {
          border: 2px solid #28a745;
          transform: scale(1.05);
        }

        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 50%;
          margin-bottom: 0.5rem;
        }

        .checkmark {
          position: absolute;
          top: 5px;
          right: 10px;
          color: #28a745;
          font-size: 1.5rem;
        }
      }
    }

    .schedule-container {
      display: flex;
      gap: 1rem;
      padding: 20px 0;

      .day-card {
        flex: 1;
        background: #fff;
        border-radius: 20px;
        border: 2px solid transparent;
        padding: 1rem;
        text-align: center;
        cursor: pointer;
        transition: transform 0.2s, border-color 0.2s;
        transform-origin: center;

        &:hover {
          border: 2px solid var(--ion-color-primary);
        }

        &.selected {
          border: 2px solid var(--ion-color-primary);
          transform: scale(1.02);
        }

        h4 {
          margin-bottom: 1rem;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            padding: 0.3rem;
            margin: 0.2rem 0;
            background: #fff;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
              filter: brightness(0.95);
            }

            &.active {
              background-color: #28a745;
              color: #fff;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
  }

  .prev-button {
    background-color: #ccc;
    color: #333;

    &:disabled {
      background-color: #eee;
      cursor: not-allowed;
    }
  }

  .next-button {
    background-color: #28a745;
    color: #fff;
  }
}

.custom-checkbox-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    line-height: 1.2;
    display: inline-block;
  }

  label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-40%);
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  label::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    left: 6px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg) scale(0);
    border: solid var(--ion-color-primary);
    border-width: 0 2px 2px 0;
    transition: transform 0.2s;
  }

  input[type="checkbox"]:checked + label::after {
    transform: translateY(-50%) rotate(45deg) scale(1);
  }
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.arrow {
  background: none;
  border: none;
  color: var(--ion-color-primary);
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
}

.carousel-content {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 30px 0;
  scroll-snap-type: x mandatory;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

app-speciality-card,
app-health-professional-card {
  border: 2px solid transparent;
  cursor: pointer;
}

app-speciality-card:hover {
  border: 2px solid var(--ion-color-primary);
  border-radius: 18px;
}

app-speciality-card.selected {
  border: 2px solid var(--ion-color-primary);
  border-radius: 18px;
}

app-health-professional-card:hover {
  border: 2px solid var(--ion-color-primary);
  border-radius: 18px;
}

app-health-professional-card.selected {
  border: 2px solid var(--ion-color-primary);
  border-radius: 18px;
}

.item {
  width: 50%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}
