.nosotros-page {
  background-color: #fff;
  overflow-y: scroll;

  .info-section{
    width: 100%;
    height: 100vh;
    padding: 12vh 10%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .logo {
      width: 20vw;
      margin-bottom: 5%;
    }

    .info-contain {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .banner {
        height: 45vh;
        width: 40vw;
      }

      .text {
        color: var(--ion-color-primary);
        width: 50%;
        margin-left: 3vw;
        font-size: 1.5rem;
        line-height: 4vh;
        text-align: start;
      }
    }
  }

  .card-section {
    width: 100%;
    height: 100vh;
    padding: 12vh 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .card-container {
      width: 85%;
      padding: 5%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;

      &::after {
        content: "a";
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-secondary);
        height: 35%;
        width: 100%;
        position: absolute;
        top: 32%;
      }

      .card {
        max-width: calc(23% - 15px);
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        flex: 1 1 calc(25% - 25px);
        box-sizing: border-box;

        .img-bg-container {
          position: relative;
          z-index: 1;

          .filter-bg {
            background-color: #429200b1;
            height: 100%;
            width: 100%;
            border-radius: 35px;
            position: absolute;
            top: 0;
          }

          .bg {
            height: 100%;
            width: 100%;
            border-radius: 35px;
            object-fit: cover;
          }
        }

        /* Icono dentro de la tarjeta */
        .icono {
          position: absolute;
          top: 25px;
          right: 15%;
          transform: scale(1.1);
          z-index: 2;
        }

        /* Texto dentro de la tarjeta */
        .text {
          color: white;
          width: 80%;
          position: absolute;
          bottom: 5px;
          font-size: 1.5rem;
          font-weight: 700;
          text-align: center;
          z-index: 3;
          padding: 0 10px;
        }

        .change-c {
          color: var(--ion-color-primary);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .nosotros-page {
  
    .info-section{
      padding: 15px 0 ;

      .logo {

      }
  
      .info-contain {
        width: 100%;
        display: flex;
        flex-direction: column;

        .banner {
          height: 45vh;
          width: 120%;
          margin-top: 100px;
          object-fit: cover;
        }
  
        .text {
          width: auto;
          margin: 5rem 25px !important;
          font-size: 1.25rem;
          line-height: 1.5rem;
          text-align: start;
        }
      }
    }
  
    .card-section {
      height: 50% !important;
      padding: 25vh 0 !important;
  
      .card-container {
        width: 85%;
        padding: 5%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
  
        .card {
          max-width: calc(50% - 15px);
          flex: 1 1 calc(50% - 25px);
  
          .text {
            width: 90%;
            font-size: 1rem;
          }

        }
      }
    }
  }
  
}