ion-content {
  --background: url("../../../../../assets/background/background-light.svg")
    no-repeat center center / cover;
}

.card {
  background: url("../../../../../assets/background/background.svg") no-repeat
    top center / cover;
  border-radius: 20px 20px 0% 0%;
  padding: 30px 20px;
  position: absolute;
  width: 100%;
  color: var(--ion-color-dark);
  padding-left: 5%;
  padding-right: 5%;
  max-height: 50%;
  min-height: auto;
  bottom: 0;
  transition: max-height 0.3s ease;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}




.messages {
  padding: 1rem 1rem 6rem 1rem;
  overflow-y: auto;
  max-height: calc(100% - 60px);
  flex: 1; /* Permite que los mensajes ocupen el espacio disponible */
}

.message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 80%;
}
.message.sent {
  background-color: #d1e7dd;
  margin-left: auto;
  text-align: right;
}
.message.received {
  background-color: #f8d7da;
  margin-right: auto;
  text-align: left;
}

.message-input {
  position: sticky;
  bottom: 0;
  background: white;
  border-radius: 20px;
  margin-top: auto; /* Empuja el input al fondo de la card */
}


.message-input ion-item {
  --background: #ffffff;
  --border-radius: 12px;
  --padding-start: 16px;
  --padding-end: 16px;
  margin: 0;
}

.message-input ion-input {
  --background: #ffffff;
  --color: var(--ion-color-primary);
  border-radius: 12px;
  padding: 8px;
  font-size: 1.4rem;
}

.message-input ion-input input {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 8px;
}

ion-icon {
  font-size: 2rem;
}


.profile-container {
  position: absolute;
  top: 0;
  left: 45%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -15px;
  width: 100%;
  padding: 0 0 0 20px;
}

.circle {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  min-width: 72px;
  min-height: 72px;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}