<ion-content scrollY="false">
  <div class="messages">
    @for(msg of messages; track msg){
      <app-message 
        [message]="msg" 
        [optionDisabled]="currentStep === 'specialty' ? specialtySelected : confirmationSelected"
        (optionSelected)="handleOptionSelected($event)">
      </app-message>
    }
  </div>
  <div class="card" [ngStyle]="{'max-height': cardHeight}">
    <div class="profile-container">
      <div class="circle left">
        <img [src]="api + user?.image?.image_path" [alt]="user?.first_name" />
      </div>
    </div>
    <div class="message-input">
      <ion-item lines="none">
        <ion-input
          placeholder="Escribe tu mensaje"
          [(ngModel)]="messageText"
        ></ion-input>
        <ion-button fill="clear" (click)="sendMessage()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </div>
</ion-content>

<app-tab-bar
  [isVisible]="true"
  [buttons]="[
    {
      icon: 'arrow-back-outline',
      route: '/home/appointment-booking',
      visible: true
    },
    { icon: 'menu-outline', route: '/', visible: true },
    { icon: 'exit-outline', route: '/', visible: true }
  ]"
  [background]="backgroundStyle"
></app-tab-bar>