.siguenos {
    height: 5vh;
    width: 16rem;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--ion-color-secondary);
    border-radius: 30px;
    position: absolute;
    bottom: 5%;
    left: 10%;
    z-index: 10;

    h5 {
      color: var(--ion-color-primary);
      margin: 0;
    }

    a {
      height: 100%;
      display: flex;
      align-items: center;
      
      ion-icon {
          color: var(--ion-color-secondary);
          transform: scale(1.5);
          cursor: pointer;
      }
    }
}
