.with-background{
  background: var(--ion-color-dark) !important;
}

.with-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../../assets/background/circles-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(0%) brightness(15%);
  z-index: 9;

}

.header {
  background-color: white;
  height: 15vh;
  width: 100%;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  justify-content: center;

  img {
    width: 15%;
    height: 90%;
    position: relative;
    z-index: 10;
  }

  .menu {
    width: 100%;
    position: relative;
    z-index: 10;

    ul {
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0 50px;
        list-style: none;

        a {
          color: var(--ion-color-secondary);
          text-decoration: none;
          cursor: pointer;
        }
      }

      li:nth-child(3) a{
        color: var(--ion-color-primary);
      }
    }
  }
}
