<header class="header" [ngClass]="{ 'with-background': addBackground }">
  <img src="../../../../assets/logo/beneficiate_logo.svg" alt="logo">

  <nav class="menu">
    <ul>
      <li class="nav-option"><a (click)="navigateToHome()" [ngClass]="{ 'active': isActive('/desktop-home') }">Inicio</a></li>
      <!--<li class="nav-option"><a href="#" [ngClass]="{ 'active': isActive('/desktop') }">Nosotros</a></li>-->
      <li class="nav-option" *ngIf="!noPlan || (userService.accountType$ | async) === 'beneficiary'" [ngClass]="{ 'active': isActive('/desktop-home/schedule') }"><a (click)="navigateToSchedule()">Agenda</a></li>
    </ul>
  </nav>

  <div class="user-profile" (click)="confirmLogout()">
    <span class="logout" style="color: var(--ion-color-primary);">Cerrar sesión</span>
    <ion-icon name="close-outline" style="color: var(--ion-color-danger);"></ion-icon>

    <!-- <div class="profile-menu" >
      <div class="menu-arrow"></div>
      <ul>

        <li class="divider"></li>
        <li>
          <a href="javascript:void(0)" class="logout" (click)="confirmLogout()">
            <ion-icon name="log-out-outline"></ion-icon>
            <span>Cerrar sesión</span>
          </a>
        </li>
      </ul>
    </div> -->
  </div>

  <!-- Backdrop para cerrar el menú al hacer clic fuera -->
  <div class="menu-backdrop" *ngIf="showProfileMenu" (click)="hideMenu()"></div>
</header>
