.with-background{
  background-color: white;
}

.header {
  height: 15vh;
  width: 100%;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  justify-content: center;

  img {
    width: 15%;
    position: absolute;
    left: 10%;
    top: 2.5vh;
    z-index: 10;
  }

  .menu {
    width: 100%;
    position: relative;
    z-index: 10;

    ul {
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0 50px;
        list-style: none;

        a {
          color: var(--ion-color-secondary);
          text-decoration: none;
        }
      }

      li:nth-child(4) a{
        color: var(--ion-color-primary);
      }
    }
  }
}
