.plan-continer{
  width: auto;
  display: flex;
  gap: 25px;

  .plan-card {
    width: 300px;
    border-radius: 25px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 15px;
    border: 1px solid #dcdcdc;

    .image-container {
      background: rgb(171 255 83 / 90%);
      width: 100%;
      height: 180px;
      overflow: hidden;
      border-radius: 25px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.15s ease-in;
      }
    }

    .card-content {
      color: var(--ion-color-custom-green);
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .plan-title {
        font-size: 18px;
        font-weight: bold;
        color: #1a2954;
        margin-bottom: 5px;
      }

      .plan-price {
        font-size: 16px;
        font-weight: bold;
      }

      .plan-description {
        font-size: 14px;
        margin-bottom: 10px;

      }

      .plan-button {
        background-image: url('../../../../assets/background/primary_button_bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--ion-color-dark);
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    &:hover .image-container{
        img{
          mix-blend-mode: multiply;
          transform: scale(1.2);
        }
    }
  }

  .plan-info {
    background-color: var(--ion-color-card);
    width: 400px;
    padding: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-radius: 25px;

    h3 {
      text-align: left;
      margin: 0;
      margin-bottom: 25px;
    }

    .plan-button {
      background-image: url('../../../../assets/background/primary_button_bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      color: var(--ion-color-dark);
      height: 2.5rem;
      width: 100%;
      margin-top: 25px;
      padding: 8px 20px;
      border: none;
      border-radius: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
