<div class="plan-continer">
  <div class="plan-card" [style]="customStyle">
    <div class="image-container">
      <img [src]="imagen" alt="Imagen del plan" />
    </div>

    <div class="card-content">
      <h3 class="plan-title">{{ titulo }}</h3>
      <div style="display: flex;">
        <span class="currency">$</span>
        <p class="plan-price">{{ precio | currency : "" : "" : "1.0-0" }}</p>
      </div>
      <p class="plan-description">{{ descripcion }}</p>

      <button class="plan-button" (click)="buttonOption()">
        {{ isDescriptionVisible ? "Cancelar" : "Adquirir" }}
      </button>
    </div>
  </div>

  <!-- Aquí usamos *ngIf para mostrar/ocultar el div -->
  <div
    *ngIf="isDescriptionVisible"
    class="plan-info"
    id="plan-info"
    [ngStyle]="positionSide"
  >
    <h3>el plan familiar incluye los siguientes benefecios:</h3>
    <li>
      <ul></ul>
      <ul></ul>
      <ul></ul>
    </li>
    <button class="plan-button" (click)="initiatePayment()">Adquirir</button>
  </div>
</div>
