<ion-content scroll-y="false">
  <div class="appointment-header">
    <p class="header-title">Tu Agenda</p>
    <img
      [src]="profileImage"
      [alt]="'Foto de ' + (user?.first_name || 'usuario')"
      class="profile-image"
    />
  </div>

  <div class="content-container">
    <div *ngIf="appointments.length === 0" class="empty-message">
      No tienes citas agendadas.
    </div>

    <div style="display: flex; flex-direction: column; gap: 10px;">
      @for(appointment of appointments; track appointment){
        <app-appointment-card
          [appointmentId]="appointment.id"
          [first_name]="appointment.professionalData?.user?.first_name"
          [last_name]="appointment.professionalData?.user?.last_name"
          [date]="appointment.appointment_date_formatted"
          [specialty]="appointment.specialty_name"
          [time]="appointment.appointment_time_formatted"
          [dayOfWeek]="appointment.day"
          (appointmentCanceled)="onAppointmentCanceled($event)"
        >
        </app-appointment-card>
      }
    </div>

    <div class="profesional-scroll">
      <div class="professional-card" (scroll)="onScroll($event)">
        @for (profesional of professionals; track profesional){
          <app-health-professional-card
          *ngFor="let prof of professionals; let i = index"
          [professionalId]="prof.id"
          [buttonVisible]="true"
          [first_name]="prof.user.first_name"
          [last_name]="prof.user.last_name"
          [specialty_name]="prof.specialty_name"
          [profileImage]="prof.image.header_path"
          [agendaColor]="'var(--ion-color-secondary)'"
        ></app-health-professional-card>
        }
      </div>

      <div class="professional-indicators">
        <span
          class="indicator"
          *ngFor="let professional of professionals; let i = index"
          [ngClass]="{ active: i === currentProfessionalIndex }"
        ></span>
      </div>
    </div>
  </div>
</ion-content>

<app-tab-bar
  [isVisible]="true"
  [buttons]="[
    { icon: 'arrow-back-outline', route: '/home/dashboard', visible: true },
    { icon: 'menu-outline', route: '/', visible: true },
    { icon: 'exit-outline', route: '/', visible: true }
  ]"
  [background]="backgroundStyle"
></app-tab-bar>
