<app-primary-card maxHeight="500px">
  <div class="medical_history-box">
    <h2>Medicamentos</h2>
    <div class="h-container">
      @if (activeBeneficiary?.medications?.length ?? 0 > 0) { @for (item of
      activeBeneficiary?.medications; track item){
      <div class="h-card">
        <p>{{ item.medication }}</p>
        <p>{{ item.laboratory }}</p>
        <p>{{ item.dosage }}</p>
      </div>
      } }@else {
      <p style="text-align: start; width: 100%">
        No hay medicamentos registrados.
      </p>
      }
    </div>
    <div>
      <h2>Alergias</h2>
      @if(activeBeneficiary?.allergies?.length ?? 0 > 0){ @for (item of
      activeBeneficiary?.allergies; track item){
      <p>{{ item.allergy_type }}</p>
      <p>{{ item.description }}</p>
      <p>{{ item.severity }}</p>
      } }@else {
      <p>No hay alergias registradas.</p>
      }
    </div>
  </div>
</app-primary-card>
<app-edit-button route="/beneficiary/home/medicaments-allergies/form"></app-edit-button>

