<div class="card-info">
  <div *ngIf="!isEditing">
    <!-- Modo visualización -->
    <h3 class="f-big">{{ Title }}</h3>
    <h4 class="f-small">{{ info }}</h4>
    <h4 class="f-small">{{ optionalInfo }}</h4>
    <button (click)="toggleEdit()">Editar</button>
  </div>

  <div *ngIf="isEditing">
    <!-- Modo edición usando custom-input para cada campo -->
    <app-custom-input
      [label]="'Título'"
      [label_s]="'Título de la información'"
      [(control)]="TitleControl"
      [errorMessage]="'Este campo es obligatorio'"
      [type]="'text'"
    ></app-custom-input>

    <app-custom-input
      [label]="'Información'"
      [label_s]="'Descripción adicional de la información'"
      [(control)]="infoControl"
      [errorMessage]="'Este campo es obligatorio'"
      [type]="'text'"
    ></app-custom-input>

    <app-custom-input
      [label]="'Información opcional'"
      [label_s]="'Descripción de la información opcional'"
      [(control)]="optionalInfoControl"
      [errorMessage]="'Este campo es obligatorio'"
      [type]="'text'"
    ></app-custom-input>
  </div>
</div>
