.footer {
  background-color: var(--ion-color-primary);
  height: 20vh;
  width: 100%;
  padding: 20px 15% 20px 5%;
  border-radius: 25px 25px 0 0;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;

    h5, h6 {
      margin: 0;
    }

    section {
      height: 90%;
      margin-top: 10px;
      display: flex;
      flex-direction: column;

      
      &:nth-child(1) {
        justify-content: space-between;

        .logo {
          width: 100%;
          z-index: 5;
        }
      }

      &:nth-child(4) {

        h6 {
          color: white;
          width: 100%;
          margin: 5px 0;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .bottom {
      height: 25px;
      position: absolute;
      bottom: 0;
    }
}

@media (max-width: 800px) {
  .footer {
    height: 45vh !important;
    padding: 20px 5% !important;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
  
      h5, h6 {
        margin: 0;
      }
  
      section {
        height: 90%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
  
        
        &:nth-child(1) {
          justify-content: flex-start !important;
  
          .logo {
            width: 100%;
            z-index: 5;
          }
        }
  
        &:nth-child(2) {

          .follow-us {
            margin: 1rem 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            
            div {
              margin-top: 10px;
              display: flex;
              gap: 10px;
            }

            a {
              color: white;
              font-size: 1.5rem;
            }
          }

          .nit h5 {
            font-size: 1rem !important;
          }

          .follow-us, .nit {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
          }
        }
      }
  }
}