<div class="card-container">
  <div class="background-gradient"></div>
  <div class="card-image">
    <img src="assets/images/test_doctor.svg" alt="Foto del Doctor">
  </div>
  
  <div class="card-content">
    <h2>Dr. Miguel Ojeda</h2>
    <p class="specialty">Cardiólogo</p>
    
    <div class="availability" [ngStyle]="{'color': agendaColor}">
      Agenda disponible
    </div>
    
    @if (buttonVisible) {
      <button class="cta-button" (click)="onSolicitarCita()">Solicitar cita</button>
    }
  </div>
</div>
