<div class="input-container">
  <label>{{ label }}</label>

  @if (type !== 'select') {
    <div class="field-wrapper">
      <input [type]="type" [formControl]="control" [placeholder]="placeholder" />
      @if (showCounter) {
        <span class="counter">{{ control.value?.length || 0 }}</span>
      }
    </div>
  } @else {
    <select [formControl]="control">
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  }

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>
