main {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 0 10vw;

  .fixxed {
    height: 100%;
    position: fixed;
    right: 10%;
    z-index: 10;
  }

  .beneficiary-info-container {
    height: 100%;
    width: 100%;
    padding-top: 15vh;
    display: flex;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .cards-container {
      height: 120%;
      width: 64%;
      margin-bottom: 30vh;
      margin-right: 25px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      & > * {
        min-height: 500px;
      }

      .card {
        background: radial-gradient(circle, rgb(211, 226, 235) 0%, rgb(198, 216, 228) 25%, rgb(184, 204, 220) 50%, rgb(159, 183, 206) 75%, rgb(148, 174, 199) 100%);
        margin: 25px;
        padding: 14px 25px 30px;
        display: flex;
        flex-direction: column;
        border-radius: 30px;

        .title {
          color: var(--ion-color-dark);
          align-self: flex-start;
          font-weight: bold;
        }

        .card-info {
          background-color: white;
          height: 25%;
          width: 100%;
          padding: 15px;
          display: flex;
          flex-direction: column;
          align-items: end;
          align-self: flex-end;
          border: 1px solid var(--ion-color-primary);
          border-radius: 15px;
          box-shadow: 5px 5px 5px 0px rgba(78,170,3,0.7);

          .f-big, .f-small {
            color: var(--ion-color-dark);
            margin: 0;
            font-size: 1rem;
          }

          .f-big {
            font-weight: bold;
          }

          .f-small {
            font-weight: 300;
          }
        }
      }
    }
  }

  .footer {
    background-color: white;
    height: 12vh;
    width: 100%;
    position: absolute;
    bottom: 0;

    app-footer-component {
      margin-left: 25px;
      position: absolute;
      bottom: 4vh;
    }
  }
}

@media (max-width: 1350px) {
  main {
    padding: 0;

    .fixxed {
      right: 0%;
    }
  }
}
