<main>
  <app-header [addBackground]="true"></app-header>

  <div class="beneficiary-info-container">

    <div class="cards-container">
      <div class="card">

        <h3 class="title">Enfermedades</h3>
        <!-- TODO: Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Tuberculocis</h3>
        </div>

        <h3 class="title">Condiciones</h3>
        <!-- Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Tetrabenazina</h3>
          <h4 class="f-small">Bayer</h4>
          <h4 class="f-small">20 mg 24 horas</h4>
        </div>

        <h3 class="title">Distintivos</h3>
        <!-- Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Tetrabenazina</h3>
          <h4 class="f-small">Bayer</h4>
          <h4 class="f-small">20 mg 24 horas</h4>
        </div>

      </div>

      <div class="card">
        <h3 class="title">Antecedentes Personales</h3>
        <!-- Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Patologico</h3>
          <h4 class="f-small">1 de febrero de 2024</h4>
        </div>

        <h3 class="title">Antecedentes Familiares</h3>
        <!-- Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Patologico</h3>
          <h4 class="f-small">Mamá</h4>
          <h4 class="f-small">Diabetes</h4>
        </div>

      </div>

      <div class="card">

        <h3 class="title">Medicamentos</h3>
        <!-- Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Tetrabenazina</h3>
          <h4 class="f-small">Bayer</h4>
          <h4 class="f-small">20 mg 24 horas</h4>
        </div>

        <h3 class="title">Alergias</h3>
        <!-- Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Alimentos</h3>
          <h4 class="f-small">Camarones</h4>
        </div>

      </div>

      <div class="card">
        <h3 class="title">Vacunas</h3>
        <!-- Agregar el iterador cuando se conecte al backend -->
        <div class="card-info">
          <h3 class="f-big">Covid</h3>
          <h4 class="f-small">4 dosis</h4>
        </div>
      </div>

      <div class="fixxed">
        <app-info-beneficiary />
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer-component></app-footer-component>
  </div>
</main>
