<main>
  <app-header [addBackground]="true"></app-header>

  <div class="beneficiary-info-container">
    <div class="cards-container">

      <div class="card">
        <h3 class="title">Enfermedades</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Tuberculosis'"
            [info]="'Descripción o detalle 1'"
            [optionalInfo]="'Información opcional 1'"
          ></app-card-info-input>

          <app-card-info-input
            [title]="'Tuberculosis'"
            [info]="'Descripción o detalle 2'"
            [optionalInfo]="'Información opcional 2'"
          ></app-card-info-input>

          <app-card-info-input
            [title]="'Tuberculosis'"
            [info]="'Descripción o detalle 3'"
            [optionalInfo]="'Información opcional 3'"
          ></app-card-info-input>

          <app-card-info-input
            [title]="'Tuberculosis'"
            [info]="'Descripción o detalle 4'"
            [optionalInfo]="'Información opcional 4'"
          ></app-card-info-input>
        </div>

        <h3 class="title">Condiciones</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Tetrabenazina'"
            [info]="'Bayer'"
            [optionalInfo]="'20 mg 24 horas'"
          ></app-card-info-input>
        </div>

        <h3 class="title">Distintivos</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Tetrabenazina'"
            [info]="'Bayer'"
            [optionalInfo]="'20 mg 24 horas'"
          ></app-card-info-input>
        </div>
      </div>

      <div class="card">
        <h3 class="title">Antecedentes Personales</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Patologico'"
            [info]="'1 de febrero de 2024'"
            [optionalInfo]="'Detalles opcionales si los hubiera'"
          ></app-card-info-input>
        </div>

        <h3 class="title">Antecedentes Familiares</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Patologico'"
            [info]="'Mamá'"
            [optionalInfo]="'Diabetes'"
          ></app-card-info-input>
        </div>
      </div>

      <div class="card">
        <h3 class="title">Medicamentos</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Tetrabenazina'"
            [info]="'Bayer'"
            [optionalInfo]="'20 mg 24 horas'"
          ></app-card-info-input>
        </div>

        <h3 class="title">Alergias</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Alimentos'"
            [info]="'Camarones'"
            [optionalInfo]="'Detalles opcionales si los hubiera'"
          ></app-card-info-input>
        </div>
      </div>

      <div class="card">
        <h3 class="title">Vacunas</h3>
        <div class="scroll-x">
          <app-card-info-input
            [title]="'Covid'"
            [info]="'4 dosis'"
            [optionalInfo]="'Detalles opcionales si los hubiera'"
          ></app-card-info-input>
        </div>
      </div>

      <div class="fixxed">
        <app-info-beneficiary />
      </div>
    </div>
  </div>

  <div class="footer">
    <app-footer-component></app-footer-component>
  </div>
</main>
