.home-container {
  background-color: #fff;
  color: #fff;
  overflow-y: scroll;

  .banner-container {
    background: var(--ion-color-dark);
    height: 100dvh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../../../../assets/background/circles-bg.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      filter: contrast(0) brightness(15%);
      z-index: 0;
    }

    .banner {
      height: 70vh;
      width: 80%;
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      background-size: cover;
      border-radius: 25px;

      .banner-svg {
        position: absolute;
        filter: saturate(1.25);
        z-index: 1;

        image {
          position: absolute;
          width: 100%;
          height: 100%;
          clip-path: url(#banner-clip);
          opacity: 0;
          transform: scale(1);
          transition: opacity 1s ease-in-out;
        }

        .active {
          opacity: 1;
        }
      }

      .img-progress-bar{
        position: absolute;
        top: 25%;
        left: 40px;
        z-index: 10;
        transform: scale(1.25);

        .control-slider {
          g {
            cursor: pointer;
            pointer-events: all;
          }
        }
      }

      .inside-banner {
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 5;

        .left-banner {
          display: flex;
          flex-direction: column-reverse;
          flex: 1.64;
          font-size: 1.5rem;

          .texto-banner {
            font-size: 3rem;
            font-weight: bold;
            max-width: 80%;
            margin-bottom: 50px;
            margin-left: 125px;
            animation: fadeIn 0.5s ease-in-out;

            ::ng-deep .change-c {
              color: var(--ion-color-secondary);
            }

            @keyframes fadeIn {
              from {
                opacity: 0;
                transform: translateY(20px);
              }
              to {
                opacity: 1;
                transform: translateY(0);
              }
            }
          }
        }

        .right-banner {
          display: flex;
          flex-direction: column;
          flex: 1;

          .banner-image {
            height: 73%;
            display: none;
            justify-content: flex-end;
            position: absolute;
            right: 50px;
            top: -75px;
            align-items: center;

            img {
              transform: scale(clamp(8vw, 1vw, 12vw));
            }
          }

          .auth-section {
            height: 39%;
            display: flex;
            margin-top: auto;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;

            .login-button {
              background-image: url('../../../../assets/background/primary_button_bg.svg');
              background-repeat: no-repeat;
              background-size: cover;
              color: var(--ion-color-dark);
              width: 95%;
              border: none;
              padding: 23px 0px;
              margin-bottom: 15px;
              border-radius: 30px;
              font-size: 2rem;
              font-weight: 600;
              cursor: pointer;
            }

            p {
              font-size: 1.6dvw;
              margin-right: 30px;
              margin-top: 30px;
            }
          }
        }
      }
    }
  }

  .plan-info-container {
    background-color: white;
    color: rgb(173, 255, 47);
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: var(--ion-color-custom-green);
      width: 100%;
      margin: -100px 0 5%;
      padding: 0 15%;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
    }

    .planes-panel {
      width: 100%;
      position: relative;
      display: flex;
      text-align: center;
      flex-direction: column;
  
      .plan-container {
        margin-top: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        app-plan-card {
          transform: scale(1.5);
        }
      }
    }
  }
}
