.basic-data-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background: #d8e7ee;
  width: 100%;
  min-height: 240px;
  overflow-y: auto;
}

.data-header {
  padding: 10px 0;
  font-size: 1.2rem;
}

.parent {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 10px;
  width: 100%;
}

.parent-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.data-box {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0 0 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.parent-title {
  color: var(--ion-color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.item-info p:nth-child(1) {
  color: var(--ion-color-dark);
  font-size: 1.2rem;
  font-weight: bold;
}

.item-info p:nth-child(2) {
  color: var(--ion-color-dark);
  font-weight: 500;
  font-size: 1rem;
}
