button {
  background-color: var(--ion-color-secondary);
  height: 7vh;
  width: 5rem;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 25px;
  position: fixed;
  bottom: 5%;
  right: 11%;
  z-index: 7;
  overflow: hidden;
  transition: width 0.3s ease;

  ion-icon {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    color: var(--ion-color-primary); 
    flex-shrink: 0;
  }

  h6 {
    color: var(--ion-color-primary);
    width: 2.5rem;
    margin: 0 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  &:hover {
    width: 12rem;
  }
}

@media (max-width: 800px) {
  button {
    height: 5vh;
    width: 10rem;
    padding: 25px 0;
    border-radius: 15px 0 0 15px;
    right: 0;
    top: 15%;
    bottom: 0;
  
    ion-icon {
      height: 2rem;
      width: 2rem;
      margin-left: 1rem;
      color: var(--ion-color-primary); 
      flex-shrink: 0;
    }
  
    h6 {
      color: var(--ion-color-primary);
      width: 2.5rem;
      margin: 0 1rem;
      font-size: 0.9rem;
    }
  }
}