main {
  background: var(--ion-color-dark);
  height: 100dvh;
  padding: 0 10vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../../assets/background/circles-bg.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: contrast(0) brightness(15%);
    z-index: 0;
  }

  .schedule-container {
    height: 100%;
    width: 100%;
    padding: 10vh 0 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 5;

    .f-big, .f-small {
      color: var(--ion-color-dark);
      margin: 0;
      font-size: 1.25rem;
    }

    .f-big {
      font-weight: bold;
    }

    .f-small {
      font-weight: 300;
    }

    .register-schedule {
      display: flex;

      .schedule-card {
        background: radial-gradient(circle, rgb(211, 226, 235) 0%, rgb(198, 216, 228) 25%, rgb(184, 204, 220) 50%, rgb(159, 183, 206) 75%, rgb(148, 174, 199) 100%);
        height: 200px;
        width: 400px;
        padding: 15px;
        position: relative;
        border-radius: 30px;

        .top-side {
          width: 100%;
          display: flex;
          align-items: center;

          img {
            width: 25%;
            margin-right: 25px;
            border-radius: 20px;
          }
        }

        .doc-info {
          height: 50%;
          display: flex;
          align-items: center;

          .appointment-date {
            display: flex;

            i {
              background-color: var(--ion-color-medium);
              color: var(--ion-color-dark);
              width: 35%;
              height: 80%;
              margin-right: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 20px;
            }
          }

          .buttons {

            .edit-date {
              background-color: var(--ion-color-secondary);
              width: 6rem;
              margin-left: 20px;
              padding: 15px 0;
              border-radius: 25px;

              h3 {
                color: var(--ion-color-dark);
              }
            }
          }
        }
      }

      .schedule-card-edit {
        background: radial-gradient(circle, rgb(211, 226, 235) 0%, rgb(198, 216, 228) 25%, rgb(184, 204, 220) 50%, rgb(159, 183, 206) 75%, rgb(148, 174, 199) 100%);
        height: 275px;
        width: 400px;
        padding: 15px;
        position: relative;
        border-radius: 30px;

        .top-side {
          height: 40%;
          width: 100%;
          margin-bottom: 10px;
          display: flex;
          align-items: center;

          img {
            width: 25%;
            margin-right: 25px;
            border-radius: 20px;
          }
        }

        .doc-info {
          height: 60%;
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 5px;

          .appointment-date {
            height: 50%;
            display: flex;
            align-items: center;

            i {
              background-color: var(--ion-color-medium);
              color: var(--ion-color-dark);
              width: 20%;
              height: 90%;
              margin-right: 15px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 20px;
            }
          }

          .buttons {
            height: 50%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .btn {
              width: 10rem;
              padding: 15px 0;
              border-radius: 25px;

              h3 {
                color: var(--ion-color-dark);
              }
            }

            .cancel-date {
              background-color: rgb(255, 104, 50);
            }

            .reprogram-date {
              background-color: var(--ion-color-secondary);
            }
          }
        }
      }

      .msg-end {
        color: var(--ion-color-card);
        width: 12rem;
        margin-left: 4rem;
      }
    }

    .doc-schedule {
      display: flex;
      flex-direction: column;
      gap: 25px;

      .header-doc-schedule {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .msg-start {
          color: var(--ion-color-medium);
          font-size: 0.9rem;
          font-weight: bold;
          margin-bottom: 15px;
        }

        .custom-dropdown {
          position: relative;
          display: inline-block;
          width: 200px;

          .dropdown-btn {
            background-color: var(--ion-color-secondary);
            color: var(--ion-color-dark);
            width: 100%;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            border: none;
            border-radius: 20px;
            font-weight: bold;
            font-size: 1rem;
            cursor: pointer;
          }

          .dropdown-list {
            height: 14.25rem;
            width: 100%;
            padding: 0;
            margin-top: 5px;
            display: none;
            list-style: none;
            position: absolute;
            overflow-y: scroll;
            z-index: 15;


            li {
              background-color: var(--ion-color-secondary);
              color: var(--ion-color-dark);
              padding: 10px;
              border-radius: 20px;
              margin-top: 5px;
              cursor: pointer;
              font-weight: bold;
            }
          }

          .show {
            display: block;
            transform: translateY(0);
          }
        }
      }

      .main-doc-schedule {
        height: 225px;
        width: 100%;
        display: flex;
        gap: 25px;
        overflow: auto;

        .doc-card {
          height: 200px;
          position: relative;

          img {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 40px;
          }

          .doc-info {
            background: linear-gradient(90deg, rgba(211,226,235,0) 0%, rgba(216,231,238,1) 50%, rgba(122,165,220,1) 100%);
            height: 100%;
            width: 350px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: end;
            justify-content: space-around;
            position: relative;
            border-radius: 40px;
            z-index: 2;

            .get-date {
              background-color: var(--ion-color-dark);
              width: 50%;
              padding: 15px 0;
              border-radius: 25px;

              h3 {
                color: var(--ion-color-secondary);
              }
            }
          }
        }
      }
    }
  }

  .chat-container {
    height: 60vh;
    width: 25rem;
    position: absolute;
    bottom: 0;
    right: 10vw;
    z-index: 15;
  }

  .do-date-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: 15;
  }

  .disable {
    display: none;
  }
}
