<app-primary-card maxHeight="500px">
  <div class="medical_history-box">
    <div class="h-container">
      <h2>Antecedentes Personales</h2>
      @if (user?.health?.medical_history?.length ?? 0 > 0) { @for (item of
      user?.health?.medical_history; track item){
      <app-secondary-card style="width: 100%">
        <div class="h-card">
          <p>{{ item.history_type }}</p>
          <p>{{ item.history_date | date:'dd/MM/yyyy' }}</p>
        </div>
      </app-secondary-card>
      } }@else {
      <p style="text-align: start; width: 100%">
        No hay antecedentes personales registrados.
      </p>
      }
    </div>
    <div class="h-container">
      <h2>Antecedentes Familiares</h2>
      @if(user?.health?.family_history?.length ?? 0 > 0){ @for (item of
      user?.health?.family_history; track item){
      <app-secondary-card style="width: 100%">
          <div class="h-card">
            <p>{{ getLabel(historyTypeOptions, item.history_type) }}</p>
            <p>{{ getLabel(relativeOptions, item.relationship) }}</p>
            <p>{{ item.history_date | date:'dd/MM/yyyy' }}</p>
          </div>
        </app-secondary-card>
        
      } }@else {
      <p>No hay antecedentes familiares registrados.</p>
      }
    </div>
  </div>
</app-primary-card>

@if((userService.accountType$ | async) === 'user'){

<app-edit-button
  route="/user/home/medical-history/form"
></app-edit-button>

}