<header class="header" [ngClass]="{ 'with-background': addBackground }">
  <img src="../../../../assets/logo/beneficiate_logo.svg" alt="logo">

  <nav class="menu">
    <ul>
      <li class="nav-option">
        <a 
          (click)="navigateToHome()"
          [ngClass]="{ 'active': isActive('/desktop') }"
        >Inicio</a>
      </li>
      <li class="nav-option">
        <a 
          (click)="navigateToAboutUs()"
          [ngClass]="{ 'active': isActive('/desktop/about-us') }"
        >Nosotros</a>
      </li>
      <li class="nav-option">
        <a 
          (click)="navigateToWorkWithUs()"
          [ngClass]="{ 'active': isActive('/desktop/work-with-us') }"
        >Trabaja con Nosotros</a>
      </li>
    </ul>
  </nav>
</header>
