.with-background{
  background: var(--ion-color-dark);
}

.with-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/background/circles-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(0%) brightness(15%);
  z-index: 9;

}

.header {
  height: 12vh;
  width: 100%;
  padding: 25px 10%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  img {
    width: 13rem;
    margin-bottom: 15px;
    z-index: 10;
  }

  .menu {
    height: 4rem;
    width: 100%;
    position: relative;
    z-index: 10;

    ul {
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        font-size: 1.25rem;
        font-weight: bold;
        margin: 0 50px;
        list-style: none;

        a {
          color: var(--ion-color-secondary);
          cursor: pointer;
          text-decoration: none;
        }

        a.active {
          color: var(--ion-color-primary);;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  img {
    width: 10rem !important;
    margin-bottom: 5px;
    margin-right: calc(100% - 13rem);
  }

  ion-menu {
    position: fixed;
    z-index: 100 !important;
    
    .toolbar-content {
      background-color: white;
      height: 5rem;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .menu-list-content {
      background-color: white;
      height: 80%;
      width: 100%;

      ion-list {
        background-color: white;
        border-top: solid 1px var(--ion-color-primary);

        ion-item {
          --background: white;
          --color: var(--ion-color-primary);
          font-size: larger;
          font-weight: bold;
        }
      }
    }

    .auth-section {
      background-color: white;
      height: 20%;
      padding-bottom: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .button {
        background-image: url('../../../../assets/background/primary_button_bg.svg');
        background-repeat: no-repeat;
        background-size: cover;
        color: var(--ion-color-dark);
        width: 75%;
        border: none;
        padding: 15px 25px;
        border-radius: 30px;
        font-size: 1.25rem;
        font-weight: 600;
        cursor: pointer;
      }

      p {
        font-size: 1.6dvw;
        margin-right: 30px;
        margin-top: 30px;
      }
    }
  }
}
