/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "./theme/variables.scss";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

p {
    margin: 0;
}

/* A침ade esto a tu archivo global.scss o donde manejes los estilos globales */

/* Estilos para el modal de verificaci칩n */
.verification-modal .modal-wrapper {
  --width: 90%;
  --max-width: 400px;
  --height: auto;
  --border-radius: 16px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.verification-modal ion-header {
  --background: transparent;
}

.verification-modal ion-toolbar {
  --background: transparent;
}

.verification-modal ion-content {
  --background: var(--ion-background-color);
}

/* Animaci칩n para el icono */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.verification-modal .verification-icon {
  animation: pulse 2s infinite ease-in-out;
}

/* Agregar en src/global.scss */

.privacy-policy-modal {
  --height: 90%;
  --width: 90%;
  --max-width: 600px;
  --border-radius: 16px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

.privacy-policy-modal .modal-wrapper {
  border-radius: var(--border-radius);
}

.privacy-policy-modal ion-content {
  --background: var(--ion-background-color);
}

.privacy-policy-modal ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

.privacy-policy-modal ion-title {
  font-weight: 600;
}

/* Animaci칩n para el modal */
.privacy-policy-modal .modal-shadow {
  box-shadow: var(--box-shadow);
}

.privacy-policy-modal ion-backdrop {
  opacity: 0.4 !important;
}