<main>
  <app-header [addBackground]="false" [noPlan]="user?.plan == null"></app-header>

  <div *ngIf="user?.plan !== null; else noPlan" style="height: 100%;">
    <div class="beneficiarios-container">
      <div class="beneficiarios-nav">
        <button
          class="btn-nav"
          [class.selected]="selectedButton === 'beneficiarios'"
          (click)="selectButton('beneficiarios')">
          <p>Beneficiarios</p>
        </button>

        <button
          class="btn-nav"
          [class.selected]="selectedButton === 'detalles'"
          (click)="selectButton('detalles')">
          <p>Detalles del plan</p>
        </button>

        <button
          class="btn-nav"
          [class.selected]="selectedButton === 'planes'"
          (click)="selectButton('planes')">
          <p>Planes</p>
        </button>
      </div>

      <div class="paneles-container">
        <div class="beneficiarios-panel" *ngIf="selectedPanel === 'beneficiarios'">
          <app-beneficiary-card [isIndividual]="user?.plan?.id === 1"></app-beneficiary-card>
        </div>

        <div class="detalles-panel" *ngIf="selectedPanel === 'detalles'">
            <div
              class="plan-info"
              id="plan-info"
            >
            <h2><strong>Plan {{user?.plan?.name}}</strong></h2>
            <hr/>
            <h3>el plan incluye los siguientes benefecios:</h3>
            <ul>
              <li>{{user?.plan?.description}}.</li>
              <li><span ngif="user?.plan?.id === 2">{{user?.plan?.max_beneficiaries}} Beneficiarios + </span><span>Uso personal.</span></li>
              <li>{{user?.plan?.duration_days}} dias de uso.</li>
            </ul>
          </div>
        </div>

        <div class="planes-panel" *ngIf="selectedPanel === 'planes'">
          <h2>Tu bienestar es nuestra prioridad. Descubre opciones que se adaptan a ti.</h2>

          <div class="plan-container">
            <app-plan-card
              *ngFor="let plan of plans"
              [selectedPlanId]="plan.id"
              [imagen]="imgPlanFamiliar"
              [titulo]="'Plan ' + plan.name"
              [precio]="plan.price + ' COP/año'"
              [descripcion]="plan.duration_days.toString() + ' Dias'"
              [positionSide]="plan.name === 'Individual' ? { left: '50%' } : { right: '50%' }"
              optionClick="payment"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noPlan>
    <div class="planes-panel">
      <h2>Tu bienestar es nuestra prioridad. Descubre opciones que se adaptan a ti.</h2>

      <div class="plan-container">
        <app-plan-card
          *ngFor="let plan of plans"
          [selectedPlanId]="plan.id"
          [imagen]="plan.name === 'Individual' ? imgPlanIndividual : imgPlanFamiliar"
          [titulo]="'Plan ' + plan.name"
          [precio]="plan.price + ' COP/año'"
          [descripcion]="plan.duration_days.toString() + ' Dias'"
          [positionSide]="plan.name === 'Individual' ? { left: '50%' } : { right: '50%' }"
          optionClick="payment"
        />
      </div>
    </div>
  </ng-template>

  <app-info-user [numBeneficiry]="numBeneficiary.toString()"></app-info-user>

  <app-follow-us></app-follow-us>
</main>
