<ion-content scrollY="false">
  <app-beneficiary-header></app-beneficiary-header>

  <div class="container">
    <div class="options-container">
      <div class="options">
        @for (option of categories; track option; let i = $index){
        <div
          [ngClass]="{ selected: isSelected(option) }"
          (click)="selectOption(option)"
        >
          {{ option }}
        </div>
        }
      </div>
    </div>

    <app-basic-data
      fontColor="var(--ion-color-light)"
      iconColor="var(--ion-color-tertiary)"
      opacity="46%"
      maxHeight="340px"
      [beneficiary]="activeBeneficiary"
    >
    </app-basic-data>
  </div>
</ion-content>

<app-tab-bar
  [isVisible]="true"
  [buttons]="[
    { icon: 'arrow-back-outline', route: '/', visible: true },
    { icon: 'menu-outline', route: '/', visible: true },
    { icon: 'exit-outline', route: '/', visible: true }
  ]"
  [background]="'var(--ion-color-light)'"
></app-tab-bar>
