<div class="appointment-card">
  <div class="appointment-header">
    <div class="status-patient">
      <div class="patient-status">
        <span class="status-badge">{{
          appointment.is_for_beneficiary
            ? "Activo Beneficiario"
            : "Activo Titular"
        }}</span>
      </div>
      @if(appointment.status === 'EXPIRED'){
      <div class="patient-status">
        <span
          class="status-badge"
          style="background-color: var(--ion-color-danger)"
          >Vencida</span
        >
      </div>
      }@else if(appointment.status === 'CANCELLED'){
      <div class="patient-status">
        <span
          class="status-badge"
          style="background-color: var(--ion-color-danger)"
          >Cancelada</span
        >
      </div>
      }@else if(appointment.status === 'TO_BE_CONFIRMED'){
        <div class="patient-status">
          <span
            class="status-badge"
            style="background-color: var(--ion-color-warning)"
            >Pendiente por Asignar</span
          >
        </div>
        } @else if(appointment.status === 'CONFIRMED'){
      <div class="patient-status">
        <span
          class="status-badge"
          style="background-color: var(--ion-color-primary)"
          >Confirmada</span
        >
      </div>
      } @else if(appointment.status === 'RESCHEDULED'){
      <div class="patient-status">
        <span
          class="status-badge"
          style="background-color: var(--ion-color-secondary)"
          >Reagendada</span
        >
      </div>
      }@else if(appointment.status === 'PENDING'){
      <div class="patient-status">
        <span
          class="status-badge"
          style="
            background-color: var(--ion-color-secondary);
            color: var(--ion-color-dark);
          "
          >Pendiente</span
        >
      </div>
      }
    </div>
   @if(appointment.status !== 'CONFIRMED'){
    <fa-icon [icon]="faClock" [ngStyle]="{ color: getClockColor(appointment) }">
    </fa-icon>
   }
  </div>
  <div class="appointment-body">
    <div class="patient-info">
      <img
        [src]="environment + appointment.userData.image.image_path"
        alt="Foto de perfil"
      />
      <div>
        <p class="patient-name">
          {{ appointment.userData.first_name }}
          {{ appointment.userData.last_name }}
        </p>
        <p class="patient-specialty">
          {{ appointment.specialtyData.name || "Sin especialidad solicitada" }}
        </p>
      </div>
    </div>
      <p class="professional">Profesional: Dr. {{appointment.professionalData.user.first_name.split(" ")[0]}} {{appointment.professionalData.user.last_name.split(" ")[0]}}</p>
    
    <!-- Sección para fecha y hora si están disponibles -->
    @if(appointment.appointment_date && appointment.appointment_time) {
      <div class="appointment-datetime">
        <p class="date-time-info">
          <fa-icon [icon]="faCalendar"></fa-icon> {{formatDate(appointment.appointment_date)}} 
          <fa-icon [icon]="faClock" class="time-icon"></fa-icon> {{appointment.appointment_time}}
        </p>
      </div>
    }
    
    <div class="appointment-footer">
      <p class="request-date">
        {{ appointment.created_at_formatted }}
      </p>
      
      <!-- Botón para citas PENDING -->
      @if (appointment.status === 'PENDING') {
        <app-custom-button
          label="Asignar"
          fontSize="1.5rem"
          padding="5px 10px"
          [disabled]="false"
          [textColor]="'var(--ion-color-dark)'"
          [backgroundImage]="buttonBackground"
          (click)="goToAppointment(appointment)"
        ></app-custom-button>
      }
      
      @if (appointment.status === 'TO_BE_CONFIRMED' && needsScheduleAssignment()) {
        <app-custom-button
          label="Asignar Horario"
          fontSize="1.5rem"
          padding="5px 10px"
          [disabled]="false"
          [textColor]="'var(--ion-color-dark)'"
          [backgroundImage]="buttonBackground"
          (click)="assignSchedule(appointment)"
        ></app-custom-button>
      }
      
      @if (appointment.status === 'TO_BE_CONFIRMED' && !needsScheduleAssignment()) {
        <app-custom-button
          label="Confirmar"
          fontSize="1.5rem"
          padding="5px 10px"
          [disabled]="false"
          [textColor]="'var(--ion-color-dark)'"
          [backgroundImage]="confirmButtonBackground"
          (click)="confirmAppointment(appointment)"
        ></app-custom-button>
      }
    </div>
  </div>
</div>