<h2>Enfermedades</h2>
<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div formArrayName="diseases">
    <div *ngFor="let disease of diseases.controls; let i = index" [formGroup]="getDiseaseFormGroup(i)">
      <app-input
        label="Enfermedad"
        type="text"
        placeholder="Ej. Diabetes"
        [control]="getFormControl(getDiseaseFormGroup(i), 'disease')"
      ></app-input>

      <app-input
        label="Fecha de Diagnóstico"
        type="date"
        [control]="getFormControl(getDiseaseFormGroup(i), 'diagnosed_date')"
      ></app-input>

      <app-input
        label="Requiere Tratamiento"
        type="checkbox"
        [control]="getFormControl(getDiseaseFormGroup(i), 'treatment_required')"
      ></app-input>

      <button type="button" class="remove" (click)="removeDisease(i)" [disabled]="diseases.length === 1">
        - Quitar
      </button>
    </div>
  </div>

  <div class="add-box">
    <button type="button" class="add" (click)="addDisease()">+ Añadir</button>
  </div>

  <h2>Discapacidades</h2>
  <div formArrayName="disabilities">
    <div *ngFor="let disability of disabilities.controls; let i = index" [formGroup]="getDisabilityFormGroup(i)">
      <app-input
        label="Nombre"
        type="text"
        placeholder="Ej. Ceguera"
        [control]="getFormControl(getDisabilityFormGroup(i), 'name')"
      ></app-input>

      <button type="button" class="remove" (click)="removeDisability(i)" [disabled]="disabilities.length === 1">
        - Quitar
      </button>
    </div>
  </div>

  <div class="add-box">
    <button type="button" class="add" (click)="addDisability()">+ Añadir</button>
  </div>

  <h2>Rasgos Distintivos</h2>
  <div formArrayName="distinctives">
    <div *ngFor="let distinctive of distinctives.controls; let i = index" [formGroup]="getDistinctiveFormGroup(i)">
      <app-input
        label="Nombre"
        type="text"
        placeholder="Ej. Lunar grande en la mejilla"
        [control]="getFormControl(getDistinctiveFormGroup(i), 'description')"
      ></app-input>

      <button type="button" class="remove" (click)="removeDistinctive(i)" [disabled]="distinctives.length === 1">
        - Quitar
      </button>
    </div>
  </div>

  <div class="add-box">
    <button type="button" class="add" (click)="addDistinctive()">+ Añadir</button>
  </div>

  <app-custom-button
    label="Guardar"
    type="submit"
    [disabled]="form.invalid"
    [textColor]="'var(--ion-color-light)'"
    [backgroundImage]="buttonBackground"
  ></app-custom-button>
</form>
